* {
  box-sizing: border-box;
  margin: 0;
  margin-right: 0px;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Navigation */

.nav-container {
  background: #fffffa;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  height: 120px;
  margin-top: -65px;
  z-index: 500;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .nav-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

nav ul {
  display: flex;
}

.logo {
    height: 35px;
    margin-bottom: 10px;
}

.nav-items li {
  list-style: none;
  margin-right: 10px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

.nav-items li a {
  color: #021718;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
/* Header */

.header-container {
  display: flex;
  background: #fffffa ;
  height: 300px;
  align-items: center;
}

header {
  display: flex;
  align-items: center; 
  justify-content:space-between;
  margin-left: 300px;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .header-container {
    display: flex;
    flex-wrap: wrap;
  }
  .hero-content {
    display: flex;
    flex-wrap: wrap;
    border: 0px;
    text-align: left;
    width: 350px;
  }
  header {
    display: flex;
    align-items: center; 
    justify-content:space-between;
    margin-left: 10%;
    text-align: center;
  }
}

.button {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background-color: #5C70CD;
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.Purchase {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background-color:#fffffa;
  text-align: center;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
}

.Purchase:hover {
  background-color:#2ccabd;
}
.Purchase:active {
  background-color: #a9a9a9;
  color: #808080;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}
  
header h1 {
  text-align: center;
  font-size: 30px;
  line-height: 70px;
  color: #021718;
  margin-bottom: 0px;
  margin-top: 30px;
}

header p {
  font-size: 20px;
  line-height: 27px;
  color: #021718;
  width: 800px;
  margin-bottom: 30px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px;
}
.project-container {
    display: flex; 
    justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.Project-Image {
    width: 80px;
    border-radius: 10px;
}
.chat-Image {
  width: 50px;
  border-radius: 10px;
}
.Affiliates {
width: 242px;
height: 100px;
}

.Affiliates-container {
  display:grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
}
@media only screen and (max-width: 768px) {
  .Affiliates-container {
    display: flex;
    flex-wrap: wrap;
  }
}
#stepsContainer {
  display: grid;
  text-align: center;
  grid-template-columns: 300px 300px 300px 300px;
}
@media only screen and (max-width: 500px) {
  #stepsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
}
.stepsBox {
  /* padding-bottom: 60px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 80px;
}

.claimSteps {
  padding-top: 45px;
  width: 270px;
  height: 400px;
  background-color:#5C70CD;
  color: #ffffff;
  text-align: center;
}

.claimStepNumber {
  font-size: 22px;
  background-color: #ffffff;
  color: #5C70CD;
  width: 55px;
  height: 30px;
  border-radius: 10%;
  margin-left: 100px;
  margin-bottom: 20px;
}

.claimStepTitle {
  margin-top: 30px;
  text-align: left;
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 100px;
}
/* 
.claimStepText {
  text-align: center;
  margin-left: 33.3%;
  width: 33.3%;
} */

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
 
}

.footer-clean h3 {
  margin-top:10px;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:20px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}